<footer>
   <p>
    <a href="/">Home</a> |
    <a href="/parents">Parents</a> |
    <a href="/contact">Contact</a> |
    <a href="/about">About Us</a> |
    <a href="/register">Register</a> |
     <a href="/search">Search</a> |
    <br/>
    &copy;2023 OneSweetSlice
   </p>
</footer>