/* Global Styles */

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .contentContainer {
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 20px;
  }
  
  .fixedlabel {
    display: inline-block;
    width: 120px;
    text-align: right;
    margin-right: 10px;
  }
  
  input[type="text"],
  input[type="password"],
  select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
  }
  
  select {
    width: 100%;
  }
  
  button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
  /* Header and Footer Styles */
  
  header img, header h1 {
    display: inline;
    vertical-align: middle;
  }

  footer {
    background-color: #fefefe;;
    border-top: 1px solid #fefefe;
    padding: 1rem;
    text-align: center;
    margin-top: 5px;
  }
  
  footer p {
    margin: 0;
  }
  
  footer a {
    color: #333;
    text-decoration: none;
    margin: 0 1rem;
  }
  
  footer a:hover {
    color: #f26726;
  }
  